@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--joplin-background-color);
  --color-foreground: var(--joplin-color);
	--color-blue: var(--joplin-color4);
	--color-correct: var(--joplin-color-correct);
	--color-correct-foreground: var(--joplin-color-bright2);
	--color-warn: var(--joplin-color-warn3);
	--color-warn-foreground: var(--joplin-color);
	--color-purple: var(--joplin-url-color);
	--color-gray: var(--joplin-color3);
	--color-hover: var(--joplin-background-color3);
	--color-raised-background: var(--joplin-background-color3);
	--color-error: var(--joplin-color-error2);
  --color-card: var(--joplin-background-color);
  --color-card-foreground: var(--joplin-color);
  --color-popover: var(--joplin-background-color);
  --color-popover-foreground: var(--joplin-color);
  --color-primary: var(--joplin-background-color5);
  --color-primary-foreground: var(--joplin-color5);
  --color-secondary: var(--joplin-background-color3);
  --color-secondary-foreground: var(--joplin-color3);
  --color-muted: var(--joplin-background-color3);
  --color-muted-foreground: var(--joplin-color3);
  --color-accent: var(--joplin-background-color3);
  --color-accent-foreground: var(--joplin-color3);
  --color-destructive: var(--joplin-destructive-color);
  --color-destructive-foreground: var(--joplin-color-bright2);
  --color-border: var(--joplin-divider-color);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: 3px;
  --radius-md: 3px;
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--joplin-background-color);
  --color-sidebar-foreground: var(--joplin-color);
  --color-sidebar-primary: var(--joplin-background-color3);
  --color-sidebar-primary-foreground: var(--joplin-color3);
  --color-sidebar-accent: var(--joplin-background-color3);
  --color-sidebar-accent-foreground: var(--joplin-color3);
  --color-sidebar-border: var(--joplin-divider-color);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
	max-height: 100%;
	height: 100%
}

body {
	display: flex;
	min-height: 100%;
	height: 100%;
}

#joplin-plugin-content-root {
	width: 100%;
}

#joplin-plugin-content {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: 100%;
}

#root {
	display: flex;
	min-height: 100%;
}
